<h1>About Debrena</h1>
<p>I've been trying to learn code on my own for a while now. I just never seem to be able to figure out in depth stuff like div tags or building apps.</p>
    
<p>I'm studying here at the Stride Center because I need a career, not just a job and I need it as fast as possible.<br/>
I am not willing to work outside of coding anymore. This was my only option.</p>