

<h1>About Dooptopia</h1>
<p>You'll never do your online shopping the same way again.</p>
    
<p>Dooptopia takes the work out of saving on your favorites online. Let the savings come to you and you'll shop smarter from now on. 
Dooptopia works with online retailers via their direct participation to offer you the best alternatives, savings, and coupons available on the web. We provide you informatin through our direct partnerships with etailers and online retailers and doing the hard work of deep scraping the internet with the help of services like Kimono and 80legs &copy; . </p>

