
<div class="jumbotron">
<h1>Dooptopia.</h1>
<p>This pinterest-style app provides an organized space to catalogue all of the products you dream of from home-improvement, to make-up, to fashion and jewelry and notify you when a cheaper, similar alternative exists. 
Also, set up price comparison and coupon notifications that save you $$. You can purchase right from the app! 
So, go ahead and dream, indulge, oogle and doop it. </p>

<p>Make Your Dreams Your Reality; Reasonably.</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
 
</div>
